/*-- Discord CSS 
  I am using discord through the web app + the stylus extension
--*/
/* Theme Variables */
.theme-dark {

    /*-- Main Background Colors --*/
    --background-primary: #1d2021;
    --background-secondary: #282828;
    --background-secondary-alt: #32302f;
    --background-tertiary: #282828;

    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: #32302f;

    --channeltextarea-background: #282828;

    /*-- Main Foreground Colors --*/
    --text-normal: #d4be98;
    --interactive-active: #d4be98;
    --header-primary: #fafafa;
    
    --background-mentioned: rgba(216, 166, 87, 0.1);
        
}

/* Hide some useless stuff */
div[aria-label="Inbox"],
div[aria-label="Help"],
button[aria-label="Send a gift"],
div[class^="flowerStarContainer"],
div[data-list-item-id$="app-download-button"],
div[class^="guildSeparator"] {
    display: none;
}

/* Friends Container */
div[class^="peopleList"] {
    background: var(--background-primary)
}

div[aria-label="Add Friend"],
div[class^="circleIconButton"][class*="selected"] {
    background-color: #a8b665 !important
}

/* Change colors for that red line */
#---new-messages-bar {
    border-color: #ea6962;
}
#---new-messages-bar span:last-child, span[class^="iconBadge"], div[style="background-color: rgb(240, 71, 71); width: 16px; padding-right: 1px;"] {
    background-color: #ea6962 !important;
}
#---new-messages-bar span:last-child svg path,
path[class^="strikethrough"] /* Microphone */ {
    color: #ea6962;
    fill: #ea6962;
}

/* Change folder icon color */
div[class^="expandedFolderIconWrapper"] svg {
    color: #7daea3 !important
}

div[class^="newMessagesBar"],
div[aria-label="Home"][class*="selected"] div {
    background-color: #7daea3 !important
}

span[class^="expandedFolderBackground"] {
    background-color: #3c3836
}

div[class^="folder"] {
    background-color: transparent
}

div[class^="folderIconWrapper"] {
    background-color: #3c383680 !important
}

/* Sidebar button colors */
div[class^="circleIconButton"] {
    color: #a9b665;
}

/* Status Indicators */
rect[fill="#43b581"] {
    fill: #a9b665
}

rect[fill="#faa61a"] {
    fill: #d8a657
}

rect[fill="#f04747"] {
    fill: #ea6962;
}

/* Mentions */
div[class*="mentioned"]::before {
    background-color: #d8a657
}

/* Avatar Border */
img[class^="avatar"] {
    border-radius: 8px;
}


/* Fonts */
* {
    font-family: "PT Sans", "Noto Color Emoji", sans-serif, system-ui
}

/* Personal Role Color Fixes */
span[style="color: rgb(52, 152, 219);"] {
    color: #7daea3 !important
}
span[style="color: rgb(46, 204, 113);"] {
    color: #a9b665 !important
}
span[style="color: rgb(0, 253, 218);"] {
    color: #89b482 !important
}
