/*
 Personal Firefox Chrome Modifications
*/

/* Hide Tabs & Other Unnecceary buttons */
#tabbrowser-tabs,
#home-button,
#library-button,
#sidebar-button,
#identity-box,
#fxa-toolbar-menu-button,
#page-action-buttons,
#tracking-protection-icon-container{
  display:none;
}

/* Remove Button Border */
#PanelUI-button, .toolbarbutton-icon, #urlbar-background {
  border: none !important;
  border-image: none !important;
}

#nav-bar { padding-left: 10px; }

#urlbar-background, #nav-bar, .toolbarbutton-icon {
	background-color: #e0e0e0 !important;
}

/*-- Inactive Window Styles --*/
#urlbar-input:-moz-window-inactive {
	color: #e0e0e0 !important;
}

#navigator-toolbox:-moz-window-inactive {
	border-color: #1d1f21;
}

#nav-bar:-moz-window-inactive,
.toolbarbutton-icon:-moz-window-inactive,
#urlbar-background:-moz-window-inactive {
	background-color: #373b41 !important;
}

.toolbarbutton-icon:-moz-window-inactive {
	fill: #e0e0e0;
}
