[submodule ".config/awesome/misc/libs/bling"]
	path = .config/awesome/misc/libs/bling
	url = git@github.com:BlingCorp/bling.git
[submodule ".config/awesome/platform/libs/.config/awesome/platform/libs/rubato"]
	path = .config/awesome/platform/libs/.config/awesome/platform/libs/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/platform/libs/awesome/platform/libs/rubato"]
	path = .config/awesome/platform/libs/awesome/platform/libs/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/platform/libs/rubato"]
	path = .config/awesome/platform/libs/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/platform/libs/bling"]
	path = .config/awesome/platform/libs/bling
	url = https://github.com/BlingCorp/bling.git
[submodule ".config/awesome/platform/libs/awesome-upower-battery"]
	path = .config/awesome/platform/libs/awesome-upower-battery
	url = git@github.com:berlam/awesome-upower-battery.git
[submodule ".config/awesome/platform/libs/surface_filters"]
	path = .config/awesome/platform/libs/surface_filters
	url = git@github.com:undefinedDarkness/surface_filters.git
