backup.tar.gz
Scripts/bin
colors.txt
.config/nvim/plugin/packer_compiled.lua
apps/**/*.o
.config/*

# Emacs Configuration
.config/emacs/elpa
.config/emacs/parinfer-rust
.config/emacs/*.eld
.config/emacs/var
.config/emacs/eln-cache
.config/emacs/.cache
.config/emacs/etc
.config/emacs/auto-save-list
!.config/emacs/
!.config/emacs/modules

# Other
!.config/awesome
!.config/emacs
!.config/nvim

.config/nvim/lazy-lock.json
