/*-- Tabbar Area --*/
#tabbrowser-tabs {
	background-color: #1d2021;
	padding-left: 10px;
}

/*-- Selcted Tab --*/
.tab-background {
	margin-bottom: 8px !important;
	margin-top: 8px !important;
	border-radius: 3px !important;
	background-color: transparent;
}

.tab-background[selected="true"] {
	background-color: #32302f !important;
	background-image: none !important;
}

/*-- Toolbar --*/
.browser-toolbar {
	background-color: #282828 !important;
	background-image: none !important;
}

/*-- Pinned Tabs --*/
.tab-content {
	background: none !important;
}

/*-- Hide some stuff --*/
#tracking-protection-icon-container,
.tab-icon-overlay,
#identity-box,
#reader-mode-button,
.tab-secondary-label,
.search-one-offs,
.urlbarView-favicon,
.urlbarView-title-separator,
.urlbarView-action {
	display: none;
}

/*-- Url Bar --*/
#urlbar-background {
	background: #282828 !important;
}

#urlbar-input {
	padding-left: 10px;
}

.urlbarView-row[aria-selected="true"] .urlbarView-row-inner {
	background-color: #3c3836;
}

.urlbarView-url {
	padding-left: 15px !important;
}

.search-one-offs {
	display: none !important;
}

/*-- Buttons --*/
image {
	fill: #d4be98 !important;
}

#navigator-toolbox {
	background-color: #1d2021;
}

/* Replace Icons */

#star-button {
	list-style-image: none !important;
}

#nav-bar-overflow-button {
  list-style-image: url("chrome://global/skin/icons/more.svg") !important;
}

#back-button {
	list-style-image: url('icons/go-left.svg') !important;
}

#forward-button {
	list-style-image: url('icons/go-right.svg') !important;
}

#reload-button {
	list-style-image: url('icons/refresh.svg') !important;
}

#downloads-button {
	list-style-image: url('icons/download.svg') !important;
}

#close-button {
	list-style-image: url('icons/close.svg') !important;
}

#tabs-newtab-button {
	list-style-image: url('icons/add.svg') !important;
}

#addon_darkreader_org-browser-action {
	list-style-image: url('icons/dark-mode.svg') !important;
}

#PanelUI-menu-button {
	list-style-image: url('icons/menu.svg') !important;
}


